<div class="min-h-screen flex flex-col bg-gray-50">
  <header class="fixed top-0 w-full h-16 bg-white shadow-sm z-10">
    <h1 class="text-xl font-bold text-gray-900">MyTodos</h1>
  </header>
  <!-- MAIN -->
  <main class="pt-20 pb-10 px-4">
    <div class="max-w-xl mx-auto space-y-8">
      <!-- FORM -->
      <section class="bg-white rounded-3xl p-6 shadow-xl">
        <h2 class="text-lg font-semibold text-gray-800 mb-4 text-center">Nouvel agent</h2>

        <div class="space-y-4">
          <input
            type="text"
            [(ngModel)]="newTodoText"
            class="w-full p-4 rounded-xl border border-gray-300 placeholder-gray-500 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-100/50 bg-white/50 transition-all duration-200"
            placeholder="ex: Dylan"
          />
          <button
            type="button"
            (click)="addTodo()"
            class="w-full h-14 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-xl shadow-lg hover:shadow-xl active:scale-[0.98] transition-all duration-all flex items-center justify-center"
          >
            ➕ Ajouter
          </button>
        </div>
      </section>

      <!-- LIST -->
      <section class="bg-white rounded-3xl shadow-xl p-8 text-center min-h-80">
        <!-- EMPTY STATE -->
        <div
          *ngIf="todos.length === 0"
          class="flex flex-col items-center justify-center min-h-100 lg:min-h-60 p-8 text-center"
        >
          <div
            class="w-24 h-24 mb-6 p-6 bg-linear-to-br from-gray-200 to-gray-300 rounded-3xl shadow-lg flex items-center justify-center"
          >
            ✨
          </div>
          <h3 class="text-2xl font-light text-gray-500 mb-2">Aucune tâche</h3>
          <p class="text-gray-400">Ajoute ta première tâche à gauche !</p>
        </div>
        <div
          *ngFor="let todo of todos"
          class="group bg-white/80 backdrop-blur-sm rounded-2xl p-6 shadow-xl border border-white/50 hover:border-blue-200 transition-all hover:shadow-2xl hover:-translate-y-1"
        >
          <div class="flex items-center gap-4">
            <input
              type="checkbox"
              [checked]="todo.completed"
              (change)="toggleTodo(todo.id)"
              class="w-6 h-6 rounded-lg border-2 border-gray-300 focus:ring-2 focus:ring-blue-400"
            />

            <span
              class="flex-1"
              [class]="todo.completed ? 'line-through text-gray-500' : 'text-gray-900'"
            >
              {{ todo.text }}
            </span>

            <button
              (click)="deleteTodo(todo.id)"
              class="opacity-0 group-hover:opacity-100 p-2 rounded-xl hover:bg-red-500/10 hover:text-red-500 transition-all"
            >
              🗑️
            </button>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
